.reset {
    display: flex;
    align-items: center;
    gap: var(--Spacing-space-050, 4px);

    padding: 0 0.5rem;

    border: none;
    outline: none;
    color: rgb(133, 136, 153);
    background-color: transparent;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: -0.006rem;

    transition: all 0.12s ease-out;
    cursor: pointer;
}
